			.menuContainerHidden {
			    background-color: #7B7B7B;
			    padding: 1 1 1 1;
			    position:absolute;
			    left:0;
			    top:0;
			    z-index:100;
			    visibility:hidden;
			}
			
			.menuContainerVisible {
			    background-color: #7B7B7B;
			    padding: 1 1 1 1;
			    position:absolute;
			    left:0;
			    top:0;
			    z-index:100;
			}

			.menuBarItem {
				display:inline;
				postion:relative;
				padding-left:5px;
				cursor: hand;
				height:33px;
				padding: 8 1 0 6;	
			}
			
			.menuBarItemSelected {
				display:inline;
				postion:relative;
				padding-left:5px;
				color: #FFFFFF;
				cursor: hand;
				background-color: #474747;
				height:33px;
				padding: 8 0 0 5;	
				border-top:1px solid #E1E1E1;
				border-right:1px solid #E1E1E1;
				border-left:1px solid #E1E1E1;
			}

			.menuItem {
				background-color: #e7efff;
				padding: 2 5 2 5;
				text-align: right;
				font-weight: bold;
			}

			.menuItem a {
				text-decoration: none;
    			font-weight: bold;
    			color: #000000;
			}
			
			.menuItemSelected {
				background-color: #006dad;
				padding: 2 5 2 5;	
				text-align: right;
				font-weight: bold;
				cursor: hand;
			}
			
			.menuItemSelected a {
				color: #ffffff;
				text-decoration: none;
    			font-weight: bold;
			}
			